html {
 margin: 05px;
 padding: 10px;

 background-image: url("Logo_ASIMOV.jpeg");
    background-repeat: no-repeat;
	background-position: top right;

 
 }
body {
 background-color: #A9A9A9; 
 font-family: Arial , sans-serif; 
 font-size: 100%;
   
 background: #000;
 background: linear-gradient(45deg, #333, #789);
box-shadow:3px 3px 12px #999;
display:table;
height:50%;
width:50%;

   
  
 }
legend {
 background-color: #8B0000
    width: 50px;
    padding: 100px;
    border: 3px solid gold;
    margin: 0; 
background-image: url("isaac-asimov.jpg");
    background-repeat: no-repeat;

 
 }
h1 {
 font-size: comic sans ms, 200%; 
 color: #F0F8FF; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: #FFD700; 
 padding-left: 15px;
 }
p,ul,li,td,th {
 color: #DCDCDC; 
 }
a:link {
 color: #DCDCDC;
 text-decoration: underline;
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Arial;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
 }
a:visited {
 color: #8FBC8F;

 }
a:hover {
 color: #00CED1;
 text-decoration: none;

}
a:active, a:focus {
 color: #034078;
 
}

div.form-group { 
 color:#DCDCDC;
}
div.headlog {
 color:#DCDCDC;
 text-align:right;
}
div.disconnect {
 color:#DCDCDC;
 text-align:left;
}
legend{
 color:#DCDCDC;
}

table{
 animation-duration: 3s;
 animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

table {

border-collapse : collapse;
}

th,td {

border : 1px solid black;
}